@model Films.Models.Film
@{
    ViewData["Title"] = "Додавання фільму";
    Layout = "_Layout";
}
<h1>Додавання фільму</h1>
<hr />


@*Благодаря установке атрибута формы enctype="multipart/form-data"
        браузер будет знать, что вместе с формой надо передать файл.*@
<form asp-action="Add" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table style="width:100%;">
        <tr>
            <th>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" name="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label asp-for="Genre" class="control-label"></label>
                    <input asp-for="Genre" class="form-control" name="Genre" />
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control" name="Director" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label asp-for="ReleaseYear" class="control-label"></label>
                    <input asp-for="ReleaseYear" class="form-control" name="ReleaseYear" type="number" />
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <div class="form-group">
                    <label asp-for="PosterPath" class="control-label"></label><br>
                    <input type="file" name="uploadedFile" required />
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <div class="form-group">
                    <div><label asp-for="Description" class="control-label"></label></div>
                    <div><textarea asp-for="Description" name="Description" style="resize:block;width:100%"></textarea></div>
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                    
                    
                </div>
            </th>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Додати фільм" class="btn btn-primary" />
    </div>
</form>



<div>
    <a asp-action="Index">На головну сторінку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
